Source: pida
Section: devel
Priority: optional
Maintainer: George Cristian Bîrzan <gcbirzan@wolfheart.ro>
Build-Depends: cdbs (>= 0.4.23-1.1), build-essential, cdbs (>= 0.4.26-2), type-handling (>= 0.2.5), debhelper (>= 4.1.0), python (>= 2.3), python-dev (>= 2.3)
Standards-Version: 3.6.1

Package: pida
Architecture: any
Depends: ${python:Depends}, gvim, python-gtk2, python-vte
Description: Python Integrated Development Applicationr, a Python IDE.
 Pida uses Vim as its editor, and aims to integrate
 existing tools rather than 
